VITE_SUPABASE_URL=https://mcrbtljzpsmtkmhoupns.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jcmJ0bGp6cHNtdGttaG91cG5zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0MTY2NTAsImV4cCI6MjA5NTk5MjY1MH0.BWbj7ZWYWhpAq0xCESvwPz_b9XdpT8qAXRN2p1qZXf4
